 /* project proposal   Sidharth Nayyar 100307873 */

 body {
   /*background-image:url(background.jpg);
  background-repeat: repeat-y;
   background-size: 100%
*/
 }

 header {
   text-align: center;
   width: 100%;
   color: green;
   margin: -8px -100px 10px 0px;
   border-top: 5px solid green;
   padding-bottom: 30%;
 }

 header a {
   width: 18%;
   margin-left: 3%;
   color: green;
   font-size: 30px;
 }
 .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

 h2 {
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
   font-size: 90px;
   padding: 80px 50px;
   text-align: center;
   text-transform: uppercase;
   text-rendering: optimizeLegibility;
   text-shadow: 3px 3px grey
 }

 #cover {
   width: 100%;
   position: relative;
   text-align: center;
   color: white;
   font-size: 45px;
 }

 #overtext {
   font-family:"Times New Roman", Times, serif;
   text-align: center;
   text-transform: uppercase;
   position: absolute;
   top: 190%;
   left: 25%;
   transform: translate(-50%, -50%);
   color: black;
   font-size: 4em;
   font-style: italic;
 }
p{
  width: auto;
}
 ul {
   background-image: url(nav.jpg);
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #0AFF6A;
 }

 li {
   float: left;
 }

 li a {
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 li a:hover:not(.active) {
   background-color: #08B567;
 }

 li a.mactive:hover {
   background-color: #08ABE3;
 }

 .active {
   background-color: #08B567;
 }
#conatainer
{
  width: auto;
  height: auto;
  }
  h3{
    border-bottom: 5px solid green;


  }
  #pHistory{
    width: 60%;
    float: left;
    margin-bottom: 20%;
  }
  #imgHistory{
    width: 35%;
    float: right;
  }
  #pEvent{
    width: 60%;
    float: right;
  }
  #imgEvent{
    width: 35%;
    float: left;
  }
  #h3Event{
    margin-top: 40%;
  }
